<tbody class="" style="max-width: max-content;
margin: auto;
display: block;"  >
  <tr class="">
    <td class="">
      <table border="0" align="center" width="256" cellpadding="0" cellspacing="0" style="max-width:256px;margin:32px;text-align:center;border-collapse:collapse;border:0;line-height:24px;border:0;width:100%;margin-bottom:0" class="">
        <tbody class="">
          <tr class="">
            <td class="">
              <table align="center" style="text-align:center;border:0;width:100%" class="">
                <tbody class="">
                  <tr class="">
                    <td class="">
                      <table cellpadding="0" cellspacing="0" border="0" align="center" style="text-align:center;border:0;width:100%" class="">
                        <tbody class="">
                          <tr align="center" style="text-align:center" class="">
                            <td class="">
                              <!-- <a href="https://www.styleseat.com/megumitanaka?utm_source=Conversion&amp;utm_medium=Email&amp;utm_campaign=NEW&amp;utm_content=Community%20Welcome" style="color:#292929;text-decoration:none" target="_blank" class="">
                                <img src="https://d220aniogakg8b.cloudfront.net/static/uploads/2014/09/26/1b217241-b17_1775725_90x90.jpg" width="90px" height="90px" alt="Xxxxxx Xxxxxx" style="border-radius:100px;border-radius:100px" class="">
                              </a> -->
                            </td>
                          </tr>
                          <tr align="center" style="text-align:center" class="">
                            <td class="">
                              <a href="https://www.kulturefresh.com" style="color:#292929;text-decoration:none" target="_blank" class="">
                                <div style="font-size:18px;font-family:&quot;Helvetica Neue&quot;,&quot;HelveticaNeue-Light&quot;,&quot;Helvetica Neue Light&quot;,Helvetica,Arial,Tahoma,Geneva,&quot;Lucida Grande&quot;,sans-serif;margin-top:12px" class="">kulturefresh</div>
                               </a>
                              <div class="">
                                <a  style="color:#3d829b" target="_blank" class=""><img src="https://d4u5qzkfpc9yt.cloudfront.net/images/email/www@3x.4e69ea6de022227d39194acd7ca790e1f0c42856.png" width="27px" height="27px" alt="Xxxxxx Xxxxxx Website" class=""></a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr class="">
    <td style="height:32px" class="">
      <hr style="min-height:1px;border:0;background:#eef5f5;margin-top:18px;margin-bottom:18px;max-width:515px;width:100%;margin:0;padding:0" class="">
    </td>
  </tr>
  <tr class="">
    <td class="">
      <table border="0" align="center" width="256" cellpadding="0" cellspacing="0" style="max-width:256px;margin:32px;text-align:center;border-collapse:collapse;border:0;line-height:24px;border:0;width:100%;margin-top:0;margin-bottom:0" class="">
        <tbody class="">
          <tr class="">
            <td class="">
              <table align="center" style="text-align:center;border:0;width:100%" class="">
                <tbody class="">
                  <tr class="">
                    <td class="">
                      <table cellpadding="0" cellspacing="0" border="0" align="center" style="text-align:center;border:0;width:100%" class="">
                        <tbody class="">
                          <tr align="center" style="text-align:center" class=""></tr>
                        </tbody>
                      </table>
                      <table cellpadding="0" cellspacing="0" border="0" style="border:0;width:100%" class="">
                        <tbody class="">
                          <tr align="left" style="text-align:left" class="">
                            <td class="">
                              <div style="font-size:13px;color:#999;margin-bottom:12px" class="">
                                ////*/now/*///
                              </div>
                            </td>
                          </tr>
                          ////*/emailTemplate/*///
                        </tbody>
                      </table>
                  
                    
                      
                      <table cellpadding="0" cellspacing="0" border="0" align="center" style="text-align:center;border:0;width:100%" class="">
                        <tbody class=""></tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr class="">
    <td style="height:32px" class="">
      <hr style="min-height:1px;border:0;background:#eef5f5;margin-top:18px;margin-bottom:18px;max-width:515px;width:100%;margin:0;padding:0" class="">
    </td>
  </tr>
  <tr class="">
    <td class="">
      <table border="0" align="center" width="256" cellpadding="0" cellspacing="0" style="max-width:256px;margin:32px;text-align:center;border-collapse:collapse;border:0;line-height:24px;border:0;width:100%;margin-top:0" class="">
        <tbody class="">
          <tr class="">
            <td class="">
              <table align="center" style="text-align:center;border:0;width:100%" class="">
                <tbody class="">
                  <tr class="">
                    <td class="">
                      <p style="margin-top:14px;margin-bottom:20px;padding-top:0;padding-bottom:0;font-size:15px;line-height:20px" class="">Cant wait to hear from you again.</p>
                    </td>
                  </tr>
                  <tr class="">
                    <td class=""><a href="https://www.kulturefresh.com" style="color:white;text-align:center;line-height:52px;display:block;text-decoration:none;text-transform:uppercase;background:#FF2400;width:100%;font-size:13px;font-family:&quot;HelveticaNeue-Bold&quot;,&quot;Helvetica Neue Bold&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,Tahoma,Geneva,&quot;Lucida Grande&quot;,sans-serif" target="_blank" class="">Come back home</a></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>