<td class="content" width="600" bgcolor="#fdfdfd" border="0"
    style="color:#737373; font-family:&quot;Helvetica Neue&quot;,Helvetica,Roboto,Arial,sans-serif; font-size:14px; line-height:150%; text-align:left; padding:48px;">
    <p style="margin:0 0 16px;">

        <a href="https://kulturefresh.com">Welcome to kulturefresh.com</a>

    </p>

</td>